{% extends 'aetna_apps/base.html'%} {% block body %} {% load staticfiles %}

<style>
    .box {
        width: 400px;
        height: 300px;
        float: left;
        margin: 0px 10px 10px 0px
    }

    .box2 {
        width: 400px;
        height: 300px;
        float: right;
        margin: 0px 0px 10px 10px
    }
    .box3{
        width:100%;
    }

    .cap {
        font-family: Open sans;
        font-style: italic;
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
        font-size: 16pt;

    }
</style>
<div class="col-sm-4" style="text-align: center;">
        <img src="{% static 'aetna_app/images/logo.png' %}" alt="">
<h1>Gallery</h1>
</div>
<div class="container acc">
    <div class="row">
        <div class="col-sm-12">
            <h5>Accomplishments</h5>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <img src="{% static 'aetna_app/images/bg.jpg'%}" class="box" alt="">

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat perspiciatis commodi, quam mollitia hic iusto
            vero similique. Est necessitatibus earum itaque nobis temporibus nemo, optio rerum laudantium inventore. Culpa
            reprehenderit officiis consectetur porro, sunt neque repellendus quas quod necessitatibus magni cupiditate reiciendis
            dignissimos ducimus voluptates vitae dolorum facere ex eos incidunt pariatur magnam? Fugit asperiores nobis cum,
            ut sunt deserunt ipsum minus enim quod, voluptatum rem dolorem. Repudiandae, fugit hic sequi consequuntur incidunt
            sit quo et maiores laudantium expedita neque, dignissimos laboriosam, numquam vel voluptatum totam ullam libero
            animi dicta minus delectus! Blanditiis laudantium magni numquam, cupiditate optio rerum veritatis cumque perspiciatis
            doloremque dignissimos dolorem aut omnis delectus veniam beatae nesciunt ex, voluptate quam recusandae! Magnam,
            nisi! Blanditiis labore deleniti necessitatibus eaque asperiores quos beatae aspernatur neque error nisi iure
            quibusdam, delectus odit temporibus tempora dolorum ipsa voluptas esse enim sed aut! Nam et id corporis distinctio
            sequi voluptates animi inventore? Quod accusantium minus reprehenderit odit, labore cupiditate molestias? Molestiae
            officiis rem sit nesciunt amet atque quibusdam error eligendi provident facilis, harum dolore ut similique nisi
            modi optio expedita? Maiores labore odio, praesentium corrupti quos repellendus quo iste voluptates alias cupiditate.
            Ratione perspiciatis sapiente sequi fugit a reprehenderit! Maxime, reiciendis?</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <img src="{% static 'aetna_app/images/bg.jpg'%}" class="box2" alt="">

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat perspiciatis commodi, quam mollitia hic iusto
            vero similique. Est necessitatibus earum itaque nobis temporibus nemo, optio rerum laudantium inventore. Culpa
            reprehenderit officiis consectetur porro, sunt neque repellendus quas quod necessitatibus magni cupiditate reiciendis
            dignissimos ducimus voluptates vitae dolorum facere ex eos incidunt pariatur magnam? Fugit asperiores nobis cum,
            ut sunt deserunt ipsum minus enim quod, voluptatum rem dolorem. Repudiandae, fugit hic sequi consequuntur incidunt
            sit quo et maiores laudantium expedita neque, dignissimos laboriosam, numquam vel voluptatum totam ullam libero
            animi dicta minus delectus! Blanditiis laudantium magni numquam, cupiditate optio rerum veritatis cumque perspiciatis
            doloremque dignissimos dolorem aut omnis delectus veniam beatae nesciunt ex, voluptate quam recusandae! Magnam,
            nisi! Blanditiis labore deleniti necessitatibus eaque asperiores quos beatae aspernatur neque error nisi iure
            quibusdam, delectus odit temporibus tempora dolorum ipsa voluptas esse enim sed aut! Nam et id corporis distinctio
            sequi voluptates animi inventore? Quod accusantium minus reprehenderit odit, labore cupiditate molestias? Molestiae
            officiis rem sit nesciunt amet atque quibusdam error eligendi provident facilis, harum dolore ut similique nisi
            modi optio expedita? Maiores labore odio, praesentium corrupti quos repellendus quo iste voluptates alias cupiditate.
            Ratione perspiciatis sapiente sequi fugit a reprehenderit! Maxime, reiciendis?
            </p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <img src="{% static 'aetna_app/images/bg.jpg'%}" class="box3" alt="">
            <p class="cap">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <hr>
        </div>
    </div>
</div>
{% endblock %}