{% extends 'aetna_apps/base.html'%} {% block body %} {% load staticfiles %}

<style>
    .box {
        background: url(/static/aetna_app/images/artay_mayor.jpg)
        width: 400px;
        height: 300px;
        float: left;
        margin: 0px 10px 10px 0px;
        /* transform: rotate(90deg) */
    }
    .accomplish hr{
        border: 0.03em solid ;
    }

    .box2 {
        width: 500px;
        height: 400px;
        float: right;
        margin: 0px 0px 10px 10px
    }

    .box3 {
        width: 100%;
    }

    .cap {
        font-family: Open sans;
        font-style: italic;
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
        font-size: 16pt;

    }
</style>

<div class="container acc">
    <div class="row">
        <div class="col-sm-12 center">
            <!-- <img src="{% static 'aetna_app/images/logo.png' %}" alt=""> -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 accomplish">
            <h3 style="font-family:'Open Sans', sans-serif;; font-size: 30pt;">Accomplishments</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <img src="{% static 'aetna_app/images/artay_mayor.jpg'%}" class="box" alt="">

            <p style="font-family: 'Open Sans', sans-serif; font-size: 20pt;">As the old adage goes, “It takes a village …”, in our case, it takes a city – precisely, our City: Gary, IN!
                Our Mayor, Karen Freeman-Wilson, and her staff of City employees and volunteers, along with our 1st District
                Councilwoman Rebecca Wyatt, Councilman-At-Large Ronald Brewer, and Councilman-At-Large Herb Smith, the Gary
                Community School Corporation, the McDonald’s corporation and its Regional Manager Alicia Kowalski, Miracle
                Temple Church, Glen Ryan Paviliion, and the Miller Citizens Corporation [M.C.C.] and its President George
                Rogge, and the Lake County Sheriff’s Department/Lake County Jail have joined with us to address our varied
                concerns. </p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <img src="{% static 'aetna_app/images/acc_work.jpg'%}" class="box2" alt="">

            <p style="font-family: 'Open Sans', sans-serif; font-size: 20pt; font-weight:bold;">Since our inception, the following concerns have been and are being satisfactorily addressed:</p>
            <ol style="font-family: Open sans; font-size: 14pt;">
                <li>Cutting down and removal of dead/diseased trees from easements;</li>
                <li>Filling of potholes;</li>
                <li>Overgrowth of lot at Aetna Elementary School and the re-boarding of its doors and windows;</li>
                <li>Increased Police patrols;</li>
                <li>Upkeep of our four (4) parks and our Little League Field;</li>
                <li>Clearing and cutting of vacant lots;</li>
                <li>Demolition of abandoned houses;</li>
                <li>Reduced roaming of unleashed dogs;</li>
                <li>Installation of speed bumps [temporarily].</li>
            </ol>
            <hr>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <img src="{% static 'aetna_app/images/bg.jpg'%}" class="box3" alt="">
            <p class="cap">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <hr>
        </div>
    </div>
</div>
{% endblock %}