{% extends 'aetna_apps/base.html'%} {% block body %} {% load staticfiles %}

<div class="container si">
    <div class="row">
        <div class="col-sm-12 text-center events-title">
            <h1>Schedule Events</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 text-center events-title">Date</div>
        <div class="col-sm-3 text-center events-title">Event</div>
        <div class="col-sm-3 text-center events-title">Title</div>
        <div class="col-sm-3 text-center events-title"></div>

    </div>
    <div class="row" style="height: 100px;">
        <div class="col-sm-3 event-content ">
            <div class="vcenter">
                {{date}}
            </div>
        </div>
        <div class="col-sm-3 event-content ">
            <div class="vcenter">
                {{event}}
            </div>
        </div>
        <div class="col-sm-3 event-content ">
            <div class="vcenter">
                {{title}}
            </div>
        </div>
        <div class="col-sm-3 event-content" style="background-color: unset;">
            <div class="vcenter">
                <form class="attend" action="">
                    <button>Attend</button>
                </form>
            </div>
        </div>


    </div>

</div>
</div>

{% endblock %}