{% extends 'aetna_apps/base.html'%}{% block body %} {% load staticfiles %}
 <div class="container-fluid">
    <div class="row">
        <div class="main-content col-sm-12">

            <img class="col-sm-2"  style="margin-top: 40px"  src="{% static 'aetna_app/images/logo.png' %}" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 main-pics" id="md-1"></div>
        <div class="col-sm-6 b-content" id="md-content">
            <h1>Mission Statement</h1>
            <p style="text-align: center;">The AETNA MANOR REVITALIZATION PROGRAM [A.M.R.P.] strives to develop an action plan for the improvement of the Aetna Manor Community.  The A.M.R.P. will accomplish improvements by working with residents and other resources within the greater Gary, IN area.</p>
            <a href=""><p id="contact">Contact Us</p></a>
        </div>
        <div class="col-sm-3 main-pics"id="md-2"></div> 
    </div>
</div> 



{% endblock %}