{% extends 'aetna_apps/base.html'%} {% block body %} {% load staticfiles %}
<style>
    body{
        background: black;
    }
</style>



<div class="container" style="background: white;">

    <div class="row">

        <div class="col-sm-12 ">
            <div class="member-content">


                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput">User Name </label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Password</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                    </div>
                </form>

                <button>Member Login</button>
                <br>
                <span><a href="/member_registration">Not a member?</a></span>
            </div>
        </div>
    </div>
</div>

{% endblock %}